################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/dist
/__pycache__
/build
/bin
/dist_v2_5
*.py
User_Manual*
webversion.txt
changelog.txt
*.bat
*v2.py
*v2.spec