################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/dist
/build/FTS_ConfigViewer_v2
/__pycache__
/build
/dist_v2_5
/bin
