################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/dist
/__pycache__
/build
/bin
/dist_v2_5
changelog.txt
version.txt
user_manual.pdf
user_manual.docx
FTSConfigViewer_v2*
FTS_Config_2.bat
versioninfo.py
webversion.txt